.centrarTxt{
    text-align: right;
}
.containerc{
    max-width: 600px;
}
.parrafo p{
    text-indent: 25px;
    text-align: justify;
}
.parrafo{
    max-width: 900px;
}
.justificar{
    text-align: justify;
}
.logo img {
    max-width: 200px !important;
    display: block;
    margin: 35px auto;
}
#header img {
    margin-top: 15px;
    max-height: 35px;
    float: right;
}
#header a{
    font-size: 25px !important;
}
@media (min-width: 768px) {
    #header img {
        max-height: 50px;
    }
}