.centrarTxt{
    text-align: right;
}
.containerc{
    max-width: 600px;
}
.parrafo p{
    text-indent: 25px;
    text-align: justify;
}
.parrafo{
    max-width: 900px;
}
.justificar{
    text-align: justify;
}
.logo img {
    max-width: 200px !important;
    display: block;
    margin: 35px auto;
}

